<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Regular CSS -->
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style_ray.css')}}"> -->

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <title>Project Two</title>
</head>

<body>
<!-- Navigation bar -->
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
       
    <ul class="nav nav-tabs w-100 nav-justified">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home')}}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  active" href="{{ url_for('national')}}">National</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('map')}}">Map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about')}}">About</a>
        </li>
      </ul>
  </nav>
  </div>
<br>
<!-- Test -->
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h4 style="text-align: center;">Output vs. Rebate Per State In 2020</h4>
            <div id ="Output chart"></div>
            <div class="jumbotron0">
                <p>Bubble Plot</p>

                <!-- <img id= "mainvisual" src="visualizations/Fig1.png" alt="Latitude vs Temp graph" title="Latitude vs Temp graph"> -->
                <p>In this plot, we tried to show the relatedness of average rebate (X axis), solar enegy output in kW (Y axis) and weekly income (Size) in each state. </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <br><br>
              <h4 style="text-align: center;">States Comparison On Installations</h4><h4 style="text-align: center;">Over Years</h4>
              <div id ="Installation line chart"></div>
              <div class="jumbotron0">
                  <p>Line Plot</p>
  
                  <!-- <img id= "mainvisual" src="visualizations/Fig1.png" alt="Latitude vs Temp graph" title="Latitude vs Temp graph"> -->
                  <p>These plots were created from a project that analyzed weather in proximity to the equator by latitude. The data was pulled from the OpenWeatherMap API from the data of 520 cities. There are 4 plots shown on this website. </p>
              </div>
            </div>
             <div class="col-lg-6">
              <br><br>
              <h4 style="text-align: center;">Cumulative Installations in Australian</h4><h4 style="text-align: center;">States Over Years</h4>
               <div id ="Installation donut chart"></div>
               <div class="jumbotron0">
                   <p>Donut Plot</p>
   
                   <!-- <img id= "mainvisual" src="visualizations/Fig1.png" alt="Latitude vs Temp graph" title="Latitude vs Temp graph"> -->
                   <p>These plots were created from a project that analyzed weather in proximity to the equator by latitude. The data was pulled from the OpenWeatherMap API from the data of 520 cities. There are 4 plots shown on this website. </p>
               </div>
             </div>
        </div>
      </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!-- essential js files for charts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src = "{{ url_for('static', filename = 'js/national.js')}}"></script>

</body>

</html>
